@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik.woff2");
}

body {
    color: #e2e2e2;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: #282a2e;
    background-image: url("../images/bg.png");
    background-size: 1100px;
}

.center-text {
    text-align: center;
}

.btn {
    width: 3rem;
    filter: opacity(0.75);
    cursor: pointer;
}

.btn:hover {
    filter: opacity(1);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#track-title {
    top: 45%;
}

#track-author {
    top: 50%;
    color: #808080;
}

#switch-btn {
    top: 64%;
}

#github {
    position: absolute;
    bottom: 1%;
    right: 1%;
}