@media (max-width: 440px) {
    body {
        font-size: 1rem;
    }

    .btn {
        width: 2rem;
    }

    #switch-btn {
        top: 60%;
    }
}

@media (max-width: 560px) {
    .btn {
        width: 2rem;
    }

    #switch-btn {
        top: 60%;
    }
}