@font-face {
  font-family: "Rubik";
  src: url("rubik.woff2");
}

:root {
  --bg-color: #191b1e;
  --alt-bg-color: #090b0e;
  --text-color: #e2e2e2;
  --idle-text-color: #878787;
  --theme-color: #00b09b;
  --theme-gradient-color: #1abc54;
  --error-color: #dc4e4e;
}