@font-face {
  font-family: "Rubik";
  src: url("rubik.woff2");
}

:root {
  --bg-color: #191b1e;
  --alt-bg-color: #090b0e;
  --text-color: #e2e2e2;
  --theme-color: #c75062;
  --theme-seo-color: #f3576f;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: var(--bg-color);
  background-image: url("background.png");
  background-size: 1100px;
}